@model EcommerceWithPOS.Models.Brand

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Title Area -->
<div class="row page-title clearfix">
    <!-- /.page-title-left -->
    <div class="page-title-right d-none d-sm-inline-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Banners</li>
        </ol>
    </div>
</div>

<!-- Different data widgets ============ -->
<!-- =================================== -->
<div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading clearfix">
                    <h5> Create Brands</h5>
                    <a asp-action="Index" class="btn btn-info"><i class="feather feather-arrow-left"></i>Back</a>
                </div>
                <!-- /.widget-heading -->
                <div class="widget-body clearfix">
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slug" class="control-label"></label>
                                    <input asp-for="Slug" class="form-control" />
                                    <span asp-validation-for="Slug" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ShortDescription" class="control-label"></label>
                                    @* <input asp-for="ShortDescription" class="form-control" /> *@
                                    <textarea asp-for="ShortDescription" class="form-control"></textarea>
                                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                </div>
                                @* <div class="form-group">
                                    <label asp-for="IsActive" class="control-label"></label>
                                    <input asp-for="IsActive" class="form-control" />
                                    <span asp-validation-for="IsActive" class="text-danger"></span>
                                </div> *@
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Logo" class="control-label"></label>
                                    <input type="file" asp-for="Logo" class="form-control" id="imageInput" />
                                    <span asp-validation-for="Logo" class="text-danger"></span>
                                </div>


                                <div style="width:180px;height:180px; border:2px solid #012970; border-radius:10px; padding:10px;">
                                    <img src="#" style="width:155px;height:155px;" alt="Image Upload" id="imgPreview">
                                </div>
                            </div>
                        </div>
                        
                        


                        
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary"/>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // var isChanged= false;
        $(document).ready(function (){
            // $("#btnSave").attr('disabled', 'disabled');
            // $("#checkActive").click(function() {
            //     if($(this).is(':checked')){
            //         $("#btnSave").removeAttr('disabled', 'disabled');

            //     }
            //     else{
            //          $("#btnSave").attr('disabled', 'disabled');
            //     }
            // });

             // CKEDITOR.replace('Description', {
             //    height: 300,
             //    width: '100%',
             // });


             $("#imageInput").change(function () {
                const file = this.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $("#imgPreview").attr('src', event.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        })
    </script>
}







@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

                // $("#btnSave").attr('disabled', 'disabled');
                // $("#checkActive").click(function () {
                //     if ($(this).is(':checked')) {
                //         $("#btnSave").removeAttr('disabled', 'disabled');
                //     }
                //     else {
                //         $("#btnSave").attr('disabled', 'disabled');
                //     }
                // });

                // loadCountry();
                // CKEDITOR.replace('AboutUs', {
                //     height: 300,
                //     width: '100%',
                // });
                $("#logo").change(function () {
                    const file = this.files[0];
                    if (file) {
                        let reader = new FileReader();
                        reader.onload = function (event) {
                            $("#imgPreview").attr('src', event.target.result);
                        }
                        reader.readAsDataURL(file);
                    }
                });
                $("#banner").change(function () {
                    const file = this.files[0];
                    if (file) {
                        let reader = new FileReader();
                        reader.onload = function (event) {
                            $("#imgPreviewBanner").attr('src', event.target.result);
                        }
                        reader.readAsDataURL(file);
                    }
                });
    </script>
}
 *@

@* 
<h1>Create</h1>

<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BannerImage" class="control-label"></label>
                <input type="file" asp-for="BannerImage" class="form-control" />
                <span asp-validation-for="BannerImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoImage" class="control-label"></label>
                <input type="file" asp-for="LogoImage" class="form-control" />
                <span asp-validation-for="LogoImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@
 
@* @section Scripts {
    @{
        // await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@










@* @{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoPath" class="control-label"></label>
                <input asp-for="LogoPath" class="form-control" />
                <span asp-validation-for="LogoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

