@model EcommerceWithPOS.Models.Color

 @{
    ViewData["Title"] = "Colors List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div>
    <button class="btn btn-primary mb-2" id="btnAdd">Add Color</button>
</div>
<div class="container">
    <table class="table table-success table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr> 
        </thead>
        <tbody id="tblbody">

        </tbody>
    </table>
</div>

<div class="modal" id="colorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle"></h3>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" value="0"/>
                <div class="mb-2">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Color Name" />
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="Save" type="submit" onclick="Insert();">Save</button>
                <button class="btn btn-success" id="Update" type="submit" onclick="Update();" style="display:none">Update</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            GetColors();
            // Insert();
        });

        // Read Data
        function GetColors() {
            $.ajax({
                url: '/Color/GetColors',
                type: 'get',
                datatype: 'json',
                contentType: 'application/json;charset="utf-8',
                success: function (response) {
                    if(response == null || response == undefined || response.length == 0){
                        var object = '';
                        object += '<tr>';
                        object += '<td class="text-center" colspan="5">' + 'colors not available' + '</td>';
                        object += '</tr>';
                        $('#tblbody').html(object);
                    }
                    else{
                        var object = '';
                        $.each(response, function(index, item){
                            object += '<tr>';
                            object += '<td>' + item.id + '</td>';
                            object += '<td>' + item.name + '</td>';
                            object += '<td> <a href="#" class="btn btn-primary btn-sm" onclick="Edit(' + item.id + ')">Edit</a> <a href="#" class="btn btn-danger btn-sm" onclick="Delete(' + item.id + ')"> Delete </a></td>';
                        });
                        $('#tblbody').html(object);
                        console.log("Error");
                    }
                },
                error: function () {
                    alert('Unable to read the data.');
                }
            });
        }


        $('#btnAdd').click(function() {
            $('#colorModal').modal('show');
            $('#modalTitle').text('Add Color');
        });

        // Insert Data
        function Insert(){
            var result = Validate();
            if (result == false){
                return false;
            }

            // var formData = new object();
            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val()
            }

            $.ajax({
                url: '/Color/Insert',
                type: 'post',
                // data: formData,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response){
                    if(response == null || response == undefined || response.length == 0){
                       alert('Unable to save the data.');
                    }
                    else{
                        HideModal();
                        GetColors();
                        alert(response);
                    }
                },
                error: function () {
                    alert('Unable to save the data.');
                }
            });
        }

        function HideModal(){
            ClearData();
            $('#colorModal').modal('hide');
        }

        function ClearData(){
            $('#Name').val('');

            $('#Name').css('border-color', 'lightgrey');
        }

        function Validate() {
            var isValid = true;

            if($('#Name').val().trim() == ""){
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#Name').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        $('#Name').change(function () {
            Validate();
        });

        function Edit(id){
            $.ajax({
                url: 'Color/Edit=' + id,
                type: 'get',
                contentType: 'application/json; charset="utf-8"',
                datatype: 'json',
                success: function(response) {
                    if (response == null || response == undefined){
                        alert('Unable to read the data.');
                    }
                    else if (response.length == 0){
                        alert('Data not available with the id.' + id )
                    }
                    else{
                        $('#colorModal').modal();
                    }
                }
            });
        }


    </script>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
}


@*<h2>Color List</h2>

<button class="btn btn-primary mb-3" onclick="openModal('/Color/Create')">Add Color</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th width="150">Actions</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="openModal('/Color/Edit/@item.Id')">Edit</button>
                    <button class="btn btn-sm btn-danger" onclick="deleteProduct(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function openModal(url) {
            $.get(url, function (data) {
                $('#formModal .modal-content').html(data);
                $('#formModal').modal('show');
            });
        }

        function deleteProduct(id) {
            if (confirm('Are you sure you want to delete this product?')) {
                $.post('/Color/Delete/' + id, function (res) {
                    if (res.success) location.reload();
                });
            }
        }

        $(document).on('submit', '#formModal form', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (res) {
                    if (res.success) {
                        $('#formModal').modal('hide');
                        location.reload();
                    } else {
                        $('#formModal .modal-content').html(res);
                    }
                }
            });
        });
    </script>
}
 *@