@model EcommerceWithPOS.Models.Currency

@{
    ViewData["Title"] = "Currency List";
}

<div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading clearfix">
                    <h5> All Currency</h5>
                    <a asp-action="Create" data-toggle="modal" data-target=".bs-modal-lg-primary"
                       class="mr-3 btn btn-outline-success" id="btnAdd"><i class="social-icons">addme</i> Add Currency</a>
                </div>
                <!-- /.widget-heading -->
                <div class="widget-body clearfix">

                    <table class="table table-striped table-responsive" data-toggle="datatables" data-plugin-options='{"searching": false}'>
                        <thead class="table">
                            <tr class="thead-inverse bg-success">
                                <th>ID</th>
                                <th>Size</th>
                                <th>Short Name</th>
                                <th>Symbol Path</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblbody">
                        </tbody>

                    </table>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>
        <!-- /.widget-holder -->
    </div>
    <!-- /.row -->
</div>
<!-- /.widget-list -->

<div class="modal modal-success fade bs-modal-lg-primary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true" style="display: none" id="colorModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-inverse">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title" id="modalTitle"></h5>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" value="0" />
                <div class="mb-2">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Size Name" />
                </div>
                <div class="mb-2">
                    <label asp-for="ShortName"></label>
                    <input type="text" asp-for="ShortName" class="form-control" placeholder="Short Name" />
                </div>
                <div class="mb-2">
                    <label asp-for="SymbolPath"></label>
                    <input type="text" asp-for="SymbolPath" class="form-control" placeholder="Short Name" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="Save" type="submit" onclick="Insert();">Save</button>
                <button class="btn btn-success" id="Update" type="submit" onclick="Update();" style="display:none">Update</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section Scripts {
    <script>
        $(document).ready(function() {
            GetCurrency();
            // Insert();
        });

        // Read Data
        function GetCurrency() {
            $.ajax({
                url: '/Currency/GetCurrency',
                type: 'get',
                datatype: 'json',
                contentType: 'application/json;charset="utf-8',
                success: function (response) {
                    if(response == null || response == undefined || response.length == 0){
                        var object = '';
                        object += '<tr>';
                        object += '<td class="text-center" colspan="5">' + 'Sizes not available' + '</td>';
                        object += '</tr>';
                        $('#tblbody').html(object);
                    }
                    else{
                        var object = '';
                        $.each(response, function(index, item){
                            object += '<tr>';
                            object += '<td>' + item.id + '</td>';
                            object += '<td>' + item.name + '</td>';
                            object += '<td>' + item.shortName + '</td>';
                            object += '<td>' + item.symbolPath + '</td>';
                            object += '<td> <a href="#" class="btn btn-primary btn-sm" onclick="Edit(' + item.id + ')">Edit</a> <a href="#" class="btn btn-danger btn-sm" onclick="Delete(' + item.id + ')"> Delete </a></td>';
                        });
                        $('#tblbody').html(object);
                        console.log("Error");
                        // console.log()
                    }
                },
                error: function () {
                    alert('Unable to read the data.');
                }
            });
        }


        $('#btnAdd').click(function() {
            $('#colorModal').modal('show');
            $('#modalTitle').text('Add Size');
        });

        // Insert Data
        function Insert(){
            var result = Validate();
            if (result == false){
                return false;
            }

            // var formData = new object();
            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val(),
                ShortName: $('#ShortName').val(),
                SymbolPath: $('#SymbolPath').val()
            }

            $.ajax({
                url: '/Currency/Insert',
                type: 'post',
                // data: formData,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response){
                    if(response == null || response == undefined || response.length == 0){
                       alert('Unable to save the data.');
                    }
                    else{
                        HideModal();
                        GetCurrency();
                        alert(response);
                    }
                },
                error: function () {
                    alert('Unable to save the data.');
                }
            });
        }

        function HideModal(){
            ClearData();
            $('#colorModal').modal('hide');
        }

        function ClearData(){
            $('#Name').val('');
            $('#ShortName').val('');
            $('#SymbolPath').val('');

            $('#Name').css('border-color', 'lightgrey');
            $('#ShortName').css('border-color', 'lightgrey');
            $('#SymbolPath').css('border-color', 'lightgrey');
        }

        function Validate() {
            var isValid = true;

            if($('#Name').val().trim() == ""){
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#Name').css('border-color', 'lightgrey');
            }

             if($('#ShortName').val().trim() == ""){
                $('#ShortName').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#ShortName').css('border-color', 'lightgrey');
            }

            if($('#SymbolPath').val().trim() == ""){
                $('#SymbolPath').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#SymbolPath').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        $('#Name').change(function () {
            Validate();
        });

        $('#ShortName').change(function () {
            Validate();
        });

        $('#SymbolPath').change(function () {
            Validate();
        });

        // Edit
        function Edit(id){
            $.ajax({
                url: '/Currency/Edit?id=' + id,
                type: 'get',
                contentType: 'application/json; charset="utf-8"',
                datatype: 'json',
                success: function(response) {
                    if (response == null || response == undefined){
                        alert('Unable to read the data.');
                    }
                    else if (response.length == 0){
                        alert('Data not available with the id.' + id )
                    }
                    else{
                        $('#colorModal').modal('show');
                        $('#modalTitle').text('Update Color');
                        $('#Save').css('display', 'none');
                        $('#Update').css('display', 'block');
                        $('#Id').val(response.id);
                        $('#Name').val(response.name);
                        $('#ShortName').val(response.name);
                        $('#SymbolPath').val(response.name);
                    }
                },
                error: function(){
                    alert('Unable to read the data.');
                }
            });
        }

        // Update Data
        function Update(){
            var result =  Validate();
            if(result == false){
                return false;
            }
            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val(),
                ShortName: $('#ShortName').val(),
                ShortName: $('#SymbolPath').val()

            }

            $.ajax({
                url: '/Currency/Update',
                type: 'post',
                // data: formData,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response){
                    if(response == null || response == undefined || response.length == 0){
                       alert('Unable to save the data.');
                    }
                    else{
                        HideModal();
                        GetCurrency();
                        alert(response);
                    }
                },
                error: function () {
                    alert('Unable to save the data.');
                }
            });
        }

        // Delete Data
        function Delete(id){
            if(confirm('Are you sure to delete this record?')){
                $.ajax({
                url: '/Currency/Delete?id=' + id,
                type: 'post',
                // contentType: 'application/json; charset="utf-8"',
                // datatype: 'json',
                success: function(response) {
                    if (response == null || response == undefined){
                        alert('Unable to delete the data.');
                    }
                    else if (response.length == 0){
                        alert('Data not available with the id.' + id )
                    }
                    else{
                       GetCurrency();
                       alert(response);
                    }
                },
                error: function(){
                    alert('Unable to read the data.');
                }
            });
            }
        }

    </script>
}


@* <div class="widget-list">
    <div class="row">
        <div class="col-md-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-heading clearfix">
                    <h5> All Currencies</h5>
                    <a asp-action="Create" data-toggle="modal" data-target=".bs-modal-lg-primary"
                       class="mr-3 btn btn-outline-success" id="btnAdd"><i class="social-icons">addme</i> Add Currencies</a>
                </div>
                <!-- /.widget-heading -->
                <div class="widget-body clearfix">

                    <table class="table table-striped table-responsive" data-toggle="datatables" data-plugin-options='{"searching": false}'>
                        <thead class="table">
                            <tr class="thead-inverse bg-success">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Short Name</th>
                                <th>Symbol Path</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblbody">
                        </tbody>

                    </table>
                </div>
                <!-- /.widget-body -->
            </div>
            <!-- /.widget-bg -->
        </div>
        <!-- /.widget-holder -->
    </div>
    <!-- /.row -->
</div>
<!-- /.widget-list -->

<div class="modal modal-success fade bs-modal-lg-primary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" aria-hidden="true" style="display: none" id="colorModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-inverse">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title" id="modalTitle"></h5>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" value="0" />
                <div class="mb-2">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Currency Name" />
                </div>
                <div class="mb-2">
                    <label asp-for="ShortName"></label>
                    <input type="text" asp-for="ShortName" class="form-control" placeholder="Short Name" />
                </div>
                <div class="mb-2">
                    <label asp-for="SymbolPath"></label>
                    <input type="text" asp-for="SymbolPath" class="form-control" placeholder="Short Name" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="Save" type="submit" onclick="Insert();">Save</button>
                <button class="btn btn-success" id="Update" type="submit" onclick="Update();" style="display:none">Update</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section Scripts {
    <script>
        $(document).ready(function() {
            GetCurrency();
            // Insert();
        });

        // Read Data
        function GetCurrency() {
            $.ajax({
                url: '/Currency/GetCurrency',
                type: 'get',
                datatype: 'json',
                contentType: 'application/json;charset="utf-8',
                success: function (response) {
                    if(response == null || response == undefined || response.length == 0){
                        var object = '';
                        object += '<tr>';
                        object += '<td class="text-center" colspan="5">' + 'Sizes not available' + '</td>';
                        object += '</tr>';
                        $('#tblbody').html(object);
                    }
                    else{
                        var object = '';
                        $.each(response, function(index, item){
                            object += '<tr>';
                            object += '<td>' + item.id + '</td>';
                            object += '<td>' + item.name + '</td>';
                            object += '<td>' + item.shortName + '</td>';
                            object += '<td>' + item.symbolPath + '</td>';
                            object += '<td> <a href="#" class="btn btn-primary btn-sm" onclick="Edit(' + item.id + ')">Edit</a> <a href="#" class="btn btn-danger btn-sm" onclick="Delete(' + item.id + ')"> Delete </a></td>';
                        });
                        $('#tblbody').html(object);
                        console.log("Error");
                        // console.log()
                    }
                },
                error: function () {
                    alert('Unable to read the data.');
                }
            });
        }


        $('#btnAdd').click(function() {
            $('#colorModal').modal('show');
            $('#modalTitle').text('Add Size');
        });

        // Insert Data
        function Insert(){
            var result = Validate();
            if (result == false){
                return false;
            }

            // var formData = new object();
            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val(),
                ShortName: $('#ShortName').val(),
                SymbolPath: $('#SymbolPath').val()
            }

            $.ajax({
                url: '/Currency/Insert',
                type: 'post',
                // data: formData,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response){
                    if(response == null || response == undefined || response.length == 0){
                       alert('Unable to save the data.');
                    }
                    else{
                        HideModal();
                        GetCurrency();
                        alert(response);
                    }
                },
                error: function () {
                    alert('Unable to save the data.');
                }
            });
        }

        function HideModal(){
            ClearData();
            $('#colorModal').modal('hide');
        }

        function ClearData(){
            $('#Name').val('');
            $('#ShortName').val('');
            $('#SymbolPath').val('');

            $('#Name').css('border-color', 'lightgrey');
            $('#ShortName').css('border-color', 'lightgrey');
            $('#SymbolPath').css('border-color', 'lightgrey');
        }

        function Validate() {
            var isValid = true;

            if($('#Name').val().trim() == ""){
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#Name').css('border-color', 'lightgrey');
            }

            if($('#ShortName').val().trim() == ""){
                $('#ShortName').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#ShortName').css('border-color', 'lightgrey');
            }

            if($('#SymbolPath').val().trim() == ""){
              $('#SymbolPath').css('border-color', 'Red');
                isValid = false;
            }
            else{
                 $('#SymbolPath').css('border-color', 'lightgrey');
            }
            return isValid;
        }

        $('#Name').change(function () {
            Validate();
        });

        $('#ShortName').change(function () {
            Validate();
        });

        $('#SymbolPath').change(function () {
            Validate();
        });

        // Edit
        function Edit(id){
            $.ajax({
                url: '/Currency/Edit?id=' + id,
                type: 'get',
                contentType: 'application/json; charset="utf-8"',
                datatype: 'json',
                success: function(response) {
                    if (response == null || response == undefined){
                        alert('Unable to read the data.');
                    }
                    else if (response.length == 0){
                        alert('Data not available with the id.' + id )
                    }
                    else{
                        $('#colorModal').modal('show');
                        $('#modalTitle').text('Update Color');
                        $('#Save').css('display', 'none');
                        $('#Update').css('display', 'block');
                        $('#Id').val(response.id);
                        $('#Name').val(response.name);
                        $('#ShortName').val(response.name);
                        $('#SymbolPath').val(response.name);
                    }
                },
                error: function(){
                    alert('Unable to read the data.');
                }
            });
        }

        // Update Data
        function Update(){
            var result =  Validate();
            if(result == false){
                return false;
            }
            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val(),
                ShortName: $('#ShortName').val()
                SymbolPath: $('#SymbolPath').val()
            }

            $.ajax({
                url: '/Currency/Update',
                type: 'post',
                // data: formData,
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response){
                    if(response == null || response == undefined || response.length == 0){
                       alert('Unable to save the data.');
                    }
                    else{
                        HideModal();
                        GetCurrency();
                        alert(response);
                    }
                },
                error: function () {
                    alert('Unable to save the data.');
                }
            });
        }

        // Delete Data
        function Delete(id){
            if(confirm('Are you sure to delete this record?')){
                $.ajax({
                url: '/Currency/Delete?id=' + id,
                type: 'post',
                // contentType: 'application/json; charset="utf-8"',
                // datatype: 'json',
                success: function(response) {
                    if (response == null || response == undefined){
                        alert('Unable to delete the data.');
                    }
                    else if (response.length == 0){
                        alert('Data not available with the id.' + id )
                    }
                    else{
                       GetCurrency();
                       alert(response);
                    }
                },
                error: function(){
                    alert('Unable to read the data.');
                }
            });
            }
        }

    </script>
} *@